/figure/
/log/
/res/
/tensorboard_log/
/era5seqrecord/
/ScaleModel/
/lightning_logs/
/checkpoints/
**.pyc
/ScaleModel/
/model/__pycache__/
/NSvisc_samplebase_compareUQ/__pycache__/
/utils/__pycache__/