/figure/
/log/
/res/
/tensorboard_log/
/era5seqrecord/
/ScaleModel/
/lightning_logs/*
/checkpoints/*
/checkpoints_1979/*
/checkpoints_1980/*
/checkpoints_UQ/*
/model_save/
**.pyc
/ScaleModel/
/model/__pycache__/
/NSvisc_samplebase_compareUQ/__pycache__/
/utils/__pycache__/